# Compiled python modules
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

# Virtual Studio Code metadata
.vscode/